<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
   <%= Spree.t("flexible_banner_page.title") %> <i class="fa fa-arrow-right"></i> <%= Spree.t("flexible_banner_page.new") %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_flexible_banners_list), spree.admin_flexible_banners_url, :icon => 'arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @flexible_banner %>

<%= form_for [:admin, @flexible_banner] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>